* {
  margin-bottom: 10px;
}
h1 {
  background-color: #84a4c4;
}

input {
  width: 100%;
}
.row{
    text-align: left;
}

button {
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
}

.todo-Container {
  text-align: left;
}
